---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Dashboard" description="ecommerce admin dashboard">
  <main class="p-4">
    <h1 class="text-2xl font-bold">Dashboard</h1>
    <input type="checkbox" class="toggle" checked />
  </main>
</Layout>

<style></style>
