---
import { ViewTransitions } from "astro:transitions";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <slot />
    <style is:global>
      .grid-desing {
        z-index: 0;
        opacity: 0.4;

        background-size: 30px 30px;
        background-image: linear-gradient(
            90deg,
            var(--muted-grid) 1px,
            transparent 0
          ),
          linear-gradient(180deg, var(--muted-grid) 1px, transparent 0);
      }
    </style>
  </body>
</html>
